# Assignment 3

### Objective : Use this dataset to build a decision tree, with Buys as the target variable, to help in buying lip-sticks in the future. Find the root node of decision tree. According to the decision tree you have made fromprevious training data set, what is the decision for the test data: [Age < 21, Income = Low, Gender = Female, Marital Status = Married]?

### Author : Siddharth Sutar
### Date : 2022-09-22

In [1]:
import numpy as np
import pandas as pd

print("Loading the required libaries...")

Loading the required libaries...

In [2]:
df = pd.read_csv("Decision.csv")
df

    Id    Age  Income  Gender       Ms Buys
0    1    <21    High    Male   Single   No
1    2    <21    High    Male  Married   No
2    3  21-35    High    Male   Single  Yes
3    4    >35  Medium    Male   Single  Yes
4    5    >35     Low  Female   Single  Yes
5    6    >35     Low  Female  Married   No
6    7  21-35     Low  Female  Married  Yes
7    8    <21  Medium    Male   Single   No
8    9    <21     Low  Female  Married  Yes
9   10    >35  Medium  Female   Single  Yes
10  11    <21  Medium  Female  Married  Yes
11  12  21-35  Medium    Male  Married  Yes
12  13  21-35    High  Female   Single  Yes
13  14    >35  Medium    Male  Married   No

**Describing the data**

In [3]:
df.describe()

            Id
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [4]:
df['Buys'].value_counts()

Yes    9
No     5
Name: Buys, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
#data=data.apply(le.fit_transform)
x=df.iloc[:,:-1] #-1 means don't take last column 
x=df.drop(columns='Id')
x=df.drop(columns='Buys')
x=x.apply(le.fit_transform)
#find label with their encoded value
print("Age with encodd value :",list( zip(df.iloc[:,0], x.iloc[:,0])))
print("\nIncome with encoded value :",list( zip(df.iloc[:,1], x.iloc[:,1])))
print("\nGender with encoded value :",list( zip(df.iloc[:,2], x.iloc[:,2])))
print("\nmaritialStatus with encoded value :",list( zip(df.iloc[:,3], x.iloc[:,3])))

Age with encodd value : [(1, 0), (2, 1), (3, 2), (4, 3), (5, 4), (6, 5), (7, 6), (8, 7), (9, 8), (10, 9), (11, 10), (12, 11), (13, 12), (14, 13)]

Income with encoded value : [('<21', 1), ('<21', 1), ('21-35', 0), ('>35', 2), ('>35', 2), ('>35', 2), ('21-35', 0), ('<21', 1), ('<21', 1), ('>35', 2), ('<21', 1), ('21-35', 0), ('21-35', 0), ('>35', 2)]

Gender with encoded value : [('High', 0), ('High', 0), ('High', 0), ('Medium', 2), ('Low', 1), ('Low', 1), ('Low', 1), ('Medium', 2), ('Low', 1), ('Medium', 2), ('Medium', 2), ('Medium', 2), ('High', 0), ('Medium', 2)]

maritialStatus with encoded value : [('Male', 1), ('Male', 1), ('Male', 1), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Female', 0), ('Female', 0), ('Male', 1), ('Female', 0), ('Male', 1)]

In [34]:
df

    Id    Age  Income  Gender       Ms Buys
0    1    <21    High    Male   Single   No
1    2    <21    High    Male  Married   No
2    3  21-35    High    Male   Single  Yes
3    4    >35  Medium    Male   Single  Yes
4    5    >35     Low  Female   Single  Yes
5    6    >35     Low  Female  Married   No
6    7  21-35     Low  Female  Married  Yes
7    8    <21  Medium    Male   Single   No
8    9    <21     Low  Female  Married  Yes
9   10    >35  Medium  Female   Single  Yes
10  11    <21  Medium  Female  Married  Yes
11  12  21-35  Medium    Male  Married  Yes
12  13  21-35    High  Female   Single  Yes
13  14    >35  Medium    Male  Married   No

In [41]:
# x.drop(columns='Id')
x

    Age  Income  Gender  Ms
0     1       0       1   1
1     1       0       1   0
2     0       0       1   1
3     2       2       1   1
4     2       1       0   1
5     2       1       0   0
6     0       1       0   0
7     1       2       1   1
8     1       1       0   0
9     2       2       0   1
10    1       2       0   0
11    0       2       1   0
12    0       0       0   1
13    2       2       1   0

In [42]:
#Store labels in Y
y=df.iloc[:,-1]
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Buys, dtype: object

In [43]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy')
classifier.fit(x.values,y.values)

DecisionTreeClassifier(criterion='entropy')

In [50]:
#  Q5
#  [Age < 21, Income = Low, Gender = Female, Marital Status = Married]

test_x=np.array([1,1,0,0])
pred_y=classifier.predict([test_x])
pred_y[0]

'Yes'

In [49]:
# Q6
# [Age > 35, Income = Medium, Gender = Female, Marital Status = Married]


test_x=np.array([2,2,0,0])
pred_y=classifier.predict([test_x])
print("Predicted class for input [Age > 35, Income = Medium, Gender = Female, Marital Status = Married]\n", test_x," is ",pred_y[0])

Predicted class for input [Age > 35, Income = Medium, Gender = Female, Marital Status = Married]
 [2 2 0 0]  is  No

In [51]:
# Q7 [Age > 35, Income =Medium, Gender = Female, Marital Status = Married]

test_x=np.array([2,2,0,0])
pred_y=classifier.predict([test_x])
pred_y[0]

'No'

In [53]:
# Q8 [Age = 21-35, Income = Low,Gender = Male, Marital Status = Married]

test_x=np.array([0,2,1,0])
pred_y=classifier.predict([test_x])
pred_y[0]

'Yes'