In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import math

In [2]:
df = pd.read_excel("Age Table.xlsx")

df

       Age  Income Married Health  Class
0    Young    High      No    Fair    No
1    Young    High      No    Good    No
2   Middle    High      No    Fair   Yes
3      Old  Medium      No    Fair   Yes
4      Old     Low     Yes    Fair   Yes
5      Old     Low     Yes    Good    No
6   Middle     Low     Yes    Good   Yes
7    Young  Medium      No    Fair    No
8    Young     Low     Yes    Fair   Yes
9      Old  Medium     Yes    Fair   Yes
10  Young   Medium     Yes    Good   Yes
11  Middle  Medium      No    Good   Yes
12  Middle    High     Yes    Fair   Yes
13     Old  Medium      No    Good    No

In [28]:
freqTable = pd.crosstab(df['Age'],df['Class'])

lM = [freqTable["Yes"][0],freqTable["No"][0]]
lO = [freqTable["Yes"][1],freqTable["No"][1]]
lY1 = [freqTable["Yes"][2],freqTable["No"][2]]
lY2 = [freqTable["Yes"][3],freqTable["No"][3]]
T = [freqTable["Yes"].sum(),freqTable["No"].sum()]


freqTable

Class   No  Yes
Age
Middle   0    4
Old      2    3
Young    3    1
Young    0    1

In [15]:
freqTable = pd.crosstab(df['Married'],df['Class'])

freqTable

Class    No  Yes
Married
No        4    3
Yes       1    6

In [16]:
freqTable = pd.crosstab(df['Health '],df['Class'])

freqTable

Class    No  Yes
Health
Fair      2    6
Good      3    3

In [29]:
print(lM)
print(lO)
print(lY1)
print(lY2)
print(T)

[4, 0]
[3, 2]
[1, 3]
[1, 0]
[9, 5]

# Getting information gain for AGE

In [33]:
# Functions

def entropy(l) -> float:
    total = l[0] + l[1]
    if(l[0] == 0 or l[1] == 0):
        return 0
    else:
        return -((l[0]/total)*math.log2(l[0]/total)+(l[1]/total)*math.log2(l[1]/total))

In [34]:
TE = entropy(T)

EM = entropy(lM)
EY1 = entropy(lY1)
EY2 = entropy(lY2)
EO = entropy(lO)

# information gain 

totalElements = T[0] + T[1]

infoGain = TE - (((lM[0] + lM[1])/totalElements)*EM + ((lY1[0] + lY1[1])/totalElements)*EY1 + ((lO[0] + lO[1])/totalElements)*EO + ((lY2[0] + lY2[1])/totalElements)*EY2)


print(f"Info gain for age is : {infoGain}")

Info gain for age is : 0.3617241393770687